div.dashoardImg{
    background-image: url('.././1.jpg');
    width:100%;
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:0px;
    height: -webkit-fill-available;
}

h2{
    text-align:center;
    padding-top:250px;
}
