#tblPage{
    border-collapse: separate;
    border-spacing: 150px 0;
    }
    #tblQpage > #txArea{
       
        /* padding:50px 0px 0px 0px; */
        /* float:center; */
    }
    ::placeholder{
        color:#ccc;
    }
    button:disabled{
        background-color: #ccc5c5;
        border:gray;
        color:black;
      }
    img.uploadImg{
        width:300px;
        height:200px;
    }
    #sType{
        display:none;
    }
    #qType{
        display:none;
    }

#divbtn{
    float: right;
    margin-right: 180px;
}

#divbtn button{
margin-right:16px;
width:100px;
}