.main_login {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: #ccc;
}

.main_login_box {
  background: cadetblue;
  padding: 10px;
  font-size: 20px;
}

.login-heading {
  text-align: center;
  font-size: 22px;
  font-weight: 800;
  text-transform: uppercase;
}

form > div {
  margin: 20px;
}

.form-login input{
  font-size: 18px;
  padding: 3px;
}

.form-submit button{
  width: 100%;
}