*{
    margin:0px;
    padding:0px;
    }
   
      
    #nav{
    width:100%;
    padding-bottom: 60px;
    padding-top: 0px;
    height: 74px;
    background-color:rgb(192, 189, 190);
    }
    ul{
    position:absolute;
    }
    ul li{
    list-style-type:none;
    float:left;
    padding:10px 30px;
    margin-top:20px;
    
    }
    ul li ul li{
    float:none;
    border-bottom:1px solid white;
    padding: 3px;
    
    }
   
       
   
    a{
       color:white !important;
        text-decoration:none !important;
    } 
    a:hover{
        color:white;
        text-decoration:none !important;
    }
    ul li ul{
    background-color:rgb(192, 189, 190);
    display:none;
    }
    ul li:hover ul{
    display:block;
    }
    img{
        width: 72px;
        height: 36px;
    }
    #tblPage{
        width:100%;
    }
   